.AddingProjects {
  background: #eed;
  margin: 5px;
  padding: 10px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.AddingProjects .AddingProjects_name {
  color: black;
  width: 90% !important;
  margin-right: 0%;
  display: flex;
  clear: both;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}
